* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

h3 {
  font-weight: bold;
  line-height: 150%;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

h6 > option {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.icon-right {
  margin-right: 10px;
}

.icon {
  margin-top: 5px;
  margin-bottom: 15px;
}
ul {
  margin-bottom: 20px;
  padding-left: 0px;
}

/* ================================ */

.jumbotron-background-color {
  background-color: #f1f3ff;
}

.jumbotron-background-color-2 {
  background-color: #0d28a6;
}

.btn-success {
  background: #5cb85f;
  border-radius: 2px;
}

.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav > li {
  margin-left: 5px;
  margin-right: 5px;
}

.img-car {
  background-color: #0d28a6;

  border-left-width: 100px;
  border-top-left-radius: 100px;
}

.form-select {
  box-sizing: border-box;
  width: auto;
  height: 56px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

/* Testimonial */
.section-padding {
  padding: 60px 0;
}

.img-thumb {
  margin: 200px;
  width: inherit !important;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.testimonial-item {
  height: 270px;
  background-color: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.content {
}
